$fFamily: Montserrat, sans-serif;
$mainColor: rgb(130, 77, 255);
$height: 44px;

 .goodWrap {
     width:100%;
      
     height: 100vh;
     color: #000;
     position: relative;
     z-index: 1;
     display: flex;
    
 
    
    
     
 }