

.slider{
   
    .sliderButtons {
        margin-top: 4px;
        width: 100%;
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
            button {
                display: block;
                font-family: Montserrat;
                border: none;
                outline:none;
                cursor: pointer;
                border-radius: 4px;
                background: #fff;
                padding: 4px 10px;
                margin: 0px 10px;
                box-shadow: 0 0 4px rgba(0,0,0,.4);
                position: relative;
               
            }
        
    }
}