$fFamily: Montserrat, sans-serif;
$mainColor: rgb(255, 77, 77);
$height: 44px;
$secondBgColor: rgb(250, 250, 250);


.text {
    
    display: block;

    
    padding: 10px 30px 10px 0;
    line-height: 38px;
    padding-left: 20px;
    font-family: $fFamily;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 28px;
    text-decoration: none;
}