$fFamily: Montserrat, sans-serif;
$mainColor:#ffae00;
$linkColor: #21362f;
$height: 44px;

 .breadCrumbs {
     display: block;
     list-style: none;  
     display: flex;
     height: 50px;
     line-height: 50px;
      
     border-bottom: 1px solid rgb(236, 234, 234);
     
     li {
         margin-left: 10px;
          &:last-child {
          a {
              color: #bbb;
          }
     }
         a{
             font-family: $fFamily;
             font-size: 11px;
             color: $linkColor;
             cursor: pointer;
             &:hover {
                 color: $mainColor;
                 text-decoration: underline solid;
             }
             span {
                 margin-left: 10px;
             }
         }
     }
 }